body{
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-image: linear-gradient(to bottom right,#000, #434343);
    color: white;
    width: 100vw;
    height: 100vh;
}

.nav-bar{
    display: flex;
    font-weight: bold;
    font-size: 25px;
    width: 90%;
    height: 50px;
    margin: 20px;
    justify-content: space-between;
    padding: 10px;
}

.viewScores a{
    color: white;
    text-decoration: none;
}

.viewScores a:hover{
    color: powderblue;
    cursor: pointer;
}

.viewScoreList, .highScoreList{
    padding: 5px 40px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.goBack{
    cursor: pointer;
    padding: 10px 40px;
    font-size: 20px;
}

.startContainer{
    text-align: center;
}

.startButton, .restartButton{
    font-size: 30px;
    border-radius: 5px;
    font-weight: bold;
    padding: 20px 60px;
    cursor: pointer;
}

.quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    margin: 0 auto;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    height: 80%;
    flex-direction: column;
}


.btn{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black
}
.questionAnswer{
    align-self: center;
}
.question{
    margin-bottom: 40px;
    align-self: flex-start;
    font-size: 25px;
}
.userSelections{
    align-self: flex-start;
    margin-bottom: 20px;
}
.correctWrong{
    font-size: 40px;
    align-self: flex-start;
}
.correct{
    color: green;
}

.wrong{
    color: red;
}

.hide{
    display: none;
}